<!-- to post edit the write article -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit an event post</h1>
    <%- include('../partials/navbar') %>
    <!-- <form action="/articles" method="POST" class="form-example"> -->
    <form action="/events/<%=event._id%>?_method=PUT" method="POST" class="form-example">
        <div class="form-example">
            <label for="title">Enter event title: </label>
            <input type="text" name="title" id="title" value="<%=event.title%>" required />
        </div>
<!-- content input should be of type textarea -->
        <div class="form-example">
            <label for="content">Enter event details: </label>
            <input type="text" name="content" id="content" value="<%= event.content %>" required />
        </div>
        <div class="form-example">
            <input type="submit" value="Update" />
        </div>
    </form>
    <a href="/events">Back to all Articles</a>
    <div> <%- include('../partials/footer') %>
    </div>

</body>
</html>