<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <%- include('../partials/navbar') %>

    <h1><%=event.title%></h1>
    <h2><%=event.content%></h2>
   <p><a href="/events/<%= event._id%>/edit">Edit</a></p> 
   <p><form action="/events/<%= event._id%>?_method=DELETE" method="POST"><button>Delete</button></form></p> 
    <a href="/events">Go back to all events</a>
        <div> <%- include('../partials/footer') %>
    </div>

</body>
</html>