

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>birds</title>
    <link rel="stylesheet" href="../../../stylesheets/adoptall.css">

</head>
<body>


    <%- include('../../partials/navbar') %>
    <%- include('../../partials/flash') %>

    <div class="container">
        <!-- <form> -->
            <i class="fas fa-search"></i>
            <input type="text" name="" id="search-item" placeholder="Search birds" onclick="searchBirds()">
            <!-- <button onclick="searchBirds()">Search</button> -->
            <div class="searchResults">
                <div class="card__container" id="card-list">
                    <%for(let bird of birdies) {%>
                        <!-- </form> -->
                <article class="card__article">
                    <a href="/adopet/adopt/birds/<%= bird.id %>"><img src="<%= bird.image%>" alt="image" class="card__img"></a>
              <div class="card__data">
                <span class="card__description"><%=bird.breed  %></span>
                <h2 class="card__title"><%= bird.name%></h2>
                 <a href="/adopet/adopt/birds/<%= bird.id %>" class="card__button">Know More</a>
              </div>
           </article>
           <% } %>
           </div>
           </div>
        </div>
     
            <script>
                function displaySearchResults(results){
                    var resultContainer= document.getElementById('searchResults');  
                    resultContainer.innerHTML= '';
                    results.forEach(pet => {
                        var petElem = document.createElement('div');
                        petElem.textContent = `${pet.name} - ${pet.gender}`;
                        resultContainer.appendChild(petElem);
                    })
                }
                function searchBirds(){
                    var gender= document.getElementById('search-item').value;
                    fetch(`/adopet/adopt/birds?gender=${gender}`)
                    .then((res) => res.json())
                    .then(data => displaySearchResults(data))
                    

                }
            </script>
            <!-- <script src="../../../js/search.js"></script> -->
            
</body>
</html>