<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <%- include('../../partials/navbar') %>

<<<<<<< Updated upstream
    <h1><%= bird[0].name %></h1>
    <h2><%= bird[0].breed %></h2>
    <h3><%= bird[0]  %></h3>
=======
    <h1><%= bird.name  %></h1>
    <h2>donated by <%= bird.owner.username %></h2>   
   <h2><%= bird.owner %></h2>
   <h4><%= bird  %></h4> 
>>>>>>> Stashed changes
</body>
</html>