<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="../../../stylesheets/adopt.css">
</head>
<body>
    <div id="nav">
        <div id="nav-part1">
          <a href = "/adopet" class = "navbar-brand"><img src="../../../images/logo_fill.png" alt="logo" width="220" height="150"></a>
            <!-- <p>logo</p> -->
        </div>
        <div id="nav-part2">
            <div id="links">
                <a href = "/adopet/donate">Donate</a>
                <a href = "/adopet/adopt">Adopt</a>
                <a href = "/adopet/vet">Get to vet</a>
                <a href = "/adopet/articles">Blog</a>
                <a href = "/adopet/events">events</a>
                <% if(!currentUser) { %>
                <a href = "/adopet/auth">Sign up / Login</a>
                <% }else{ %>
                <a href = "/adopet/logout">Log out</a>
                <a href="/adopet/user/profile"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6SI-L2k-71vMCT2XPh1B8eYRwVsw6cJq4EtXvOLXLfQ&s" alt="user" style="height: 65px; width: 55px; border-radius:50%"></a>
                <% } %>
            </div>
        </div>
    </div>

    <%- include('../../partials/flash') %>


<!-- //we can also access all the bird attributes like breed medHistory and display it in proper format and even option to view and contact the user assosiated in donating the bird    -->

    <div class="container">
        <div class="box">
            <div class="images">
                <div class="img-holder active">
                    <img src="<%= bird.image%>">
                </div>
   
            </div>
            <div class="basic-info">
                <h1>Name:  <%= bird.name  %></h1>
                <div class="rate">
                    <i class="filled fas fa-star"></i>
                    <i class="filled fas fa-star"></i>
                    <i class="filled fas fa-star"></i>
                    <i class="filled fas fa-star"></i>
                    <i class="filled fas fa-star"></i>
                </div>
            <div class="options">
                <form action="/adopet/adopt/birds/<%= bird._id  %>" method="POST" class="enquiry-btn">
                    <div class="form-example">
                        <input type="submit" value="Become a shelter provider" />
                    </div>
                </form>
                <!-- <a href="#">Become a shelter provider</a> -->
            </div>
            </div>
            <div class="description">
                <p><%= bird.description  %></p>
                <ul class="features">
                    <li><i class="fa-solid fa-circle-check"></i>Age: <%= bird.age  %> months</li>
                    <li><i class="fa-solid fa-circle-check"></i>Gender:<%= bird.gender  %></li>
                    <li><i class="fa-solid fa-circle-xmark"></i>Vaccinatated:<%= bird.isFullyVaccinated  %></li>
                    <li><i class="fa-solid fa-circle-check"></i>Good with Kids:<%= bird.isGoodWithKids  %></li>
                    <li><i class="fa-solid fa-circle-xmark"></i>Contact Number: <%= bird.owner.phone  %></li>
                    <li><i class="fa-solid fa-circle-xmark"></i>Reason for donation:<%= bird.whyDonate  %></li>

                    <!-- medHistory view file feature remaining, after clicking the enquiry button a new page, you mail was sent to this pets this owner something like this -->
                </ul>
            </div>
        </div>
        <% if(currentUser &&bird.owner.equals(currentUser)) {%>
            <p><a href="/adopet/adopt/birds/<%= bird._id%>/edit">Edit</a></p>
            <form action="/adopet/adopt/birds/<%= bird._id%>?_method=DELETE" method="POST"><button>Delete</button></form>
            <% } %>
            <a href="/adopet/adopt/birds">Go back to all birds</a>
    </div>
</body>
</html>