<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Edit page</h1>
    <div id="nav">
        <div id="nav-part1">
            <!-- <p>logo</p> -->
            <a href = "/adopet" class = "navbar-brand">Adopet</a>
        </div>
        <div id="nav-part2">
            <div id="links">
                <a href = "/adopet/donate">Donate</a>
                <a href = "/adopet/adopt">Adopt</a>
                <a href = "/adopet/vets">Get to vet</a>
                <a href = "/adopet/articles">Blog</a>
                <a href = "/adopet/events">events</a>
                <% if(!currentUser) { %>
                <a href = "/adopet/signup">Sign up</a>
                <a href = "/adopet/login">Log in</a>
                <% }else{ %>
                <a href = "/adopet/logout">Log out</a>
                <% } %>
            </div>
        </div>
    </div>
    <form action="/adopet/adopt/others/<%=other._id%>?_method=PUT" method="POST" class="form-example">
        <div class="form-example">
            <label for="name">Enter name: </label>
            <input type="text" name="name" id="name" value="<%=other.name%>" required />
        </div>
        <label for="age">Enter age: </label>
        <input type="text" name="age" id="age" value="<%=other.age%>" required />
        <div class="form-example">
            <label for="breed">Enter breed: </label>
            <input type="text" name="breed" id="breed" value="<%=other.breed%>" required />
        </div>
        <div class="form-example">
            <label for="gender">Enter gender: </label>
            <input type="text" name="gender" id="gender" value="<%=other.gender%>" required />
        </div>
        <div class="form-example">
            <label for="description">Enter description: </label>
            <input type="text" name="description" id="description" value="<%=other.description%>" required />
        </div>
        <div class="form-example">
            <label for="isFullyVaccinated">Enter vaccinated or not: </label>
            <input type="text" name="isFullyVaccinated" id="isFullyVaccinated" value="<%=other.isFullyVaccinated%>" required />
        </div>
        <div class="form-example">
            <label for="image">Enter image: </label>
            <input type="text" name="image" id="image" value="<%=other.image%>" required />
        </div>
        <div class="form-example">
            <label for="medHistory">Enter medHistory: </label>
            <input type="text" name="medHistory" id="medHistory" value="<%=other.medHistory%>" required />
        </div>
        <div class="form-example">
            <label for="isGoodWithKids">Enter whether good with kids or not: </label>
            <input type="text" name="isGoodWithKids" id="isGoodWithKids" value="<%=other.isGoodWithKids%>" required />
        </div>
        <div class="form-example">
            <label for="whyDonate">Enter whyDonate: </label>
            <input type="text" name="whyDonate" id="whyDonate" value="<%=other.whyDonate%>" required />
        </div>
        <div class="form-example">
            <input type="submit" value="Update" />
        </div>
    </form>
    <a href="/adopet/adopt/others">Back to all others</a>
</body>

</html>