<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <%- include('../../partials/navbar') %>

<<<<<<< Updated upstream
    <h1><%= other[0].name %></h1>
    <h2><%= other[0].breed %></h2>
    <h3><%= other[0]  %></h3>
=======
    <h1><%= other.name  %></h1>
    <h2>donated by <%= other.owner.username %></h2>   
   <h2><%= other.owner %></h2>
   <h4><%= other  %></h4> 
>>>>>>> Stashed changes
</body>
</html>