<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="../../../stylesheets/adopt.css">
</head>
<body>
    <%- include('../../partials/navbar') %>


    <%- include('../../partials/flash') %>

<!-- //we can also access all the other attributes like breed medHistory and display it in proper format and even option to view and contact the user assosiated in donating the other    -->

    <div class="container">
        <div class="box">
            <div class="images">
                <div class="img-holder active">
                    <img src="p1.jpg">
                </div>
                <div class="img-holder">
                    <img src="p1.jpg">
                </div>
                <div class="img-holder">
                    <img src="p3.jpg">
                </div>
                <div class="img-holder">
                    <img src="p1.jpg">
                </div>
            </div>
            <div class="basic-info">
                <h1><%= other.name  %></h1>
                <div class="rate">
                    <i class="filled fas fa-star"></i>
                    <i class="filled fas fa-star"></i>
                    <i class="filled fas fa-star"></i>
                    <i class="filled fas fa-star"></i>
                    <i class="filled fas fa-star"></i>
                </div>
            <div class="options">
                <form action="/adopet/adopt/others/<%= other._id  %>" method="post" class="enquiry-btn">
                    <div class="form-example">
                        <input type="submit" value="Become a shelter provider" />
                    </div>
                </form>
                <!-- <a href="#">Become a shelter provider</a> -->
            </div>
            </div>
            <div class="description">
                <p><%= other.description  %></p>
                <ul class="features">
                    <li><i class="fa-solid fa-circle-check"></i>Age:<%= other.age  %> months</li>
                    <li><i class="fa-solid fa-circle-check"></i>Gender:<%= other.gender  %></li>
                    <li><i class="fa-solid fa-circle-xmark"></i>Vaccinatated:<%= other.isFullyVaccinated  %></li>
                    <li><i class="fa-solid fa-circle-check"></i>Good with Kids:<%= other.isGoodWithKids  %></li>
                    <li><i class="fa-solid fa-circle-xmark"></i>Contact Number: <%= other.owner.phone  %></li>
                    <!-- medHistory view file feature remaining, after clicking the enquiry button a new page, you mail was sent to this pets this owner something like this -->
                </ul>
            </div>
        </div>
        <% if(currentUser &&other.owner.equals(currentUser)) {%>
            <p><a href="/adopet/adopt/others/<%= other._id%>/edit">Edit</a></p>
            <form action="/adopet/adopt/others/<%= other._id%>?_method=DELETE" method="POST"><button>Delete</button></form>
            <% } %>
            <a href="/adopet/adopt/others">Go back to all others</a>
    </div>
</body>
</html>