
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <!-- <link rel="stylesheet" href="../stylesheets/profile.css"> -->
    <link href="https://fonts.googleapis.com/css2?family=Oregano:ital@0;1&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">

<style>
  body {
    background: linear-gradient(45deg, #fff, #f0f0f0, #e6e6e6, #ea7877, #dca29c, #edcf6b, #c1c7cf, #dca29c, #ea7877, #edcf6b, #e6e6e6);
        background-size: 300% 300%;
        animation: color 12s ease-in-out infinite;
        position: relative;
    margin-top: 20px;
}

.ui-w-80 {
    width : 100px !important;
    height: auto;

}

.btn-default {
    border-color: rgba(24, 28, 33, 0.1);
    background  : rgba(0, 0, 0, 0);
    color       : #4E5155;
    font-family: 'Oregano', cursive;
}

label.btn {
    margin-bottom: 0;
    font-family: 'Oregano';
}
.form-label{
  font-size: 28px;
}

.btn-outline-primary {
    border-color: #26B4FF;
    background  : transparent;
    color       : #26B4FF;
    font-family: 'Oregano', cursive;
}

.btn {
    cursor: pointer;
    font-family: 'Oregano', cursive;
}

.text-light {
    color: #babbbc !important;
    font-family: 'Oregano', cursive;
}

.btn-facebook {
    border-color: rgba(0, 0, 0, 0);
    background  : #3B5998;
    color       : #fff;
}

.btn-instagram {
    border-color: rgba(0, 0, 0, 0);
    background  : #000;
    color       : #fff;
}

.card {
    background-clip: padding-box;
    box-shadow     : 0 1px 4px rgba(24, 28, 33, 0.012);
    font-family: 'Oregano';
    font-size: 1.9rem;
}

.row-bordered {
    overflow: hidden;
}

.account-settings-fileinput {
    position  : absolute;
    visibility: hidden;
    width     : 1px;
    height    : 1px;
    font-family: 'Oregano', cursive;
    opacity   : 0;
}

.account-settings-links .list-group-item.active {
    font-weight: bold !important;
}


html:not(.dark-style) .account-settings-links .list-group-item.active {
    background: transparent !important;
    font-family: 'Oregano', cursive;
}

.account-settings-multiselect~.select2-container {
    width: 100% !important;
    font-family: 'Oregano', cursive;
}

.light-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
    font-family: 'Oregano', cursive;
}

.light-style .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
    font-family: 'Oregano', cursive;
}

.material-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
    font-family: 'Oregano', cursive;
}

.material-style .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
    font-family: 'Oregano', cursive;
}

.dark-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(255, 255, 255, 0.03) !important;
    font-family: 'Oregano', cursive;
}

.dark-style .account-settings-links .list-group-item.active {
    color: #fff !important;
    font-family: 'Oregano', cursive;
}

.light-style .account-settings-links .list-group-item.active {
    color: #4E5155 !important;
    font-family: 'Oregano', cursive;
}

.light-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.9rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
    font-family: 'Oregano', cursive;
}

.main{
    max-width: 1200px;
    margin: 0 auto;
  }
  
  h1 {
      font-size: 24px;
      font-weight: 400;
      text-align: center;
  }
  
  img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
  }
  
  .btn {
    color: #ffffff;
    padding: 0.8rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    width: 100%;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: transparent;
  }
  
  .btn:hover {
    background-color: rgba(255, 255, 255, 0.12);
  }
  
  .cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .cards_item {
    display: flex;
    padding: 1rem;
  }
  
  @media (min-width: 40rem) {
    .cards_item {
      width: 50%;
    }
  }
  
  @media (min-width: 56rem) {
    .cards_item {
      width: 33.3333%;
    }
  }
  
  .card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  .card_content {
    padding: 1.9rem;
    background: linear-gradient(to bottom left, #f3d13c 80%, #414194 20%);
  }
  
  .card_title {
    color: #bb6e6e;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
  }
  
  .card_text {
    color: #c02e2e;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;    
    font-weight: 400;
  }
  .made_by{
    font-weight: 400;
    font-size: 13px;
    margin-top: 35px;
    text-align: center;
  }
</style>
</head>

<body>

    <%- include('partials/flash') %>
    <div class="container light-style flex-grow-1 container-p-y">
        <h4 class="font-weight-bold py-3 mb-4">
            Account settings
        </h4>
        <div class="card overflow-hidden">
            <div class="row no-gutters row-bordered row-border-light">
                <div class="col-md-3 pt-0">
                    <div class="list-group list-group-flush account-settings-links">
                        <a class="list-group-item list-group-item-action active" data-toggle="list"
                            href="#account-general">General</a>
                        <!-- <a class="list-group-item list-group-item-action" data-toggle="list"
                            href="#account-change-password">Change password</a> -->
                        <a class="list-group-item list-group-item-action" data-toggle="list"
                            href="#account-pets">My Pets</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list"
                            href="#account-social-links">My Favourite Pets</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list"
                            href="#account-connections">My Favourite Blogs
                            <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oregano:ital@0;1&display=swap" rel="stylesheet">
                        </a>
                        <!-- <a class="list-group-item list-group-item-action" data-toggle="list"
                            href="#account-notifications">Notifications</a> -->
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="account-general">
                            <div class="card-body media align-items-center">
                                <!-- <img src="https://img.freepik.com/free-photo/female-model-photo-session-casting_114579-13335.jpg?size=626&ext=jpg&ga=GA1.1.859314401.1704564059&semt=ais" alt
                                    class="d-block ui-w-90"> -->
                                    <img src="https://img.freepik.com/free-photo/female-model-photo-session-casting_114579-13335.jpg?size=626&ext=jpg&ga=GA1.1.859314401.1704564059&semt=ais" alt
                                    class="img-fluid rounded-circle"> 
                                <div class="media-body ml-4">
                                    <label class="btn btn-outline-primary">
                                        Upload new photo
                                        <input type="file" class="account-settings-fileinput">
                                    </label> &nbsp;
                                    <button type="button" class="btn btn-default md-btn-flat">Reset</button>
                                    <!-- <div class="text-light small mt-1">Allowed JPG, GIF or PNG. Max size of 800K</div> -->
                                </div>
                            </div>
                            <hr class="border-light m-0">
                            <div class="card-body">
                                <div class="form-group">
                                    <label class="form-label">Username</label>
                                    <input type="text" class="form-control mb-1" value="<%= currentUser.username %>">
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Phone</label>
                                    <input type="text" class="form-control" value="<%= currentUser.phone %>">
                                </div>
                                <div class="form-group">
                                    <label class="form-label">E-mail</label>
                                    <input type="text" class="form-control" value="<%= currentUser.email %>">
                                    <div class="alert alert-warning mt-5">
                                        Your email is not confirmed. Please check your inbox.<br>
                                        <a href="javascript:void(0)">Resend confirmation</a>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <!-- <label class="form-label">Company</label>
                                    <input type="text" class="form-control" value="Company Ltd."> -->
                                </div>
                            </div>
                        </div>
                        <!-- <div class="tab-pane fade" id="account-change-password">
                            <div class="card-body pb-2">
                                <div class="form-group">
                                    <label class="form-label">Current password</label>
                                    <input type="password" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class="form-label">New password</label>
                                    <input type="password" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Repeat new password</label>
                                    <input type="password" class="form-control">
                                </div>
                            </div>
                        </div> -->
                        <div class="tab-pane fade" id="account-pets">

                          <div class="card-body pb-2">
                            <div class="main">
                                <h1>Your pets that are closest to your heart are waiting for you</h1>
                                <ul class="cards">
                                  <li class="cards_item">
                                    <div class="card">
                                      <div class="card_image"><img src="./assets/img/p3.jpg"></div>
                                      <div class="card_content">
                                        <h2 class="card_title">Olivert</h2>
                                        <p class="card_text">Breed: Siamese<br>Age: 3 years</p>
                                        <button class="btn card_btn">Read More</button>
                                      </div>
                                    </div>
                                  </li>
                                  <li class="cards_item">
                                    <div class="card">
                                      <div class="card_image"><img src="./assets/img/p4.jpg"></div>
                                      <div class="card_content">
                                        <h2 class="card_title">Luna</h2>
                                        <p class="card_text">Breed:Ragdoll</p>
                                        <button class="btn card_btn">Read More</button>
                                      </div>
                                    </div>
                                  </li>
                                  <li class="cards_item">
                                    <div class="card">
                                      <div class="card_image"><img src="./assets/img/p7.jpg"></div>
                                      <div class="card_content">
                                        <h2 class="card_title">Charlie</h2>
                                        <p class="card_text"> Breed:Bengal</p>
                                        <button class="btn card_btn">Read More</button>
                                      </div>
                                    </div>
                                  </li>
                                  <li class="cards_item">
                                    <div class="card">
                                      <div class="card_image"><img src="./assets/img/p9.jpg"></div>
                                      <div class="card_content">
                                        <h2 class="card_title">Bella</h2>
                                        <p class="card_text">Breed: Abyssinian</p>
                                        <button class="btn card_btn">Read More</button>
                                      </div>
                                    </div>
                                  </li>
                                  <li class="cards_item">
                                    <div class="card">
                                      <div class="card_image"><img src="./assets/img/p8.jpg"></div>
                                      <div class="card_content">
                                        <h2 class="card_title">Simba</h2>
                                        <p class="card_text">Breed:British Shorthair</p>
                                        <button class="btn card_btn">Read More</button>
                                      </div>
                                    </div>
                                  </li>
                                
                              </div>
                        </div>
                   
                        </div>



                        <div class="tab-pane fade" id="account-social-links">
                            <div class="card-body pb-2">
                                <div class="main">
                                    <h1>Your pets that are closest to your heart are waiting for you</h1>
                                    <ul class="cards">
                                      <li class="cards_item">
                                        <div class="card">
                                          <div class="card_image"><img src="./assets/img/p3.jpg"></div>
                                          <div class="card_content">
                                            <h2 class="card_title">Olivert</h2>
                                            <p class="card_text">Breed: Siamese<br>Age: 3 years</p>
                                            <button class="btn card_btn">Read More</button>
                                          </div>
                                        </div>
                                      </li>
                                      <li class="cards_item">
                                        <div class="card">
                                          <div class="card_image"><img src="./assets/img/p4.jpg"></div>
                                          <div class="card_content">
                                            <h2 class="card_title">Luna</h2>
                                            <p class="card_text">Breed:Ragdoll</p>
                                            <button class="btn card_btn">Read More</button>
                                          </div>
                                        </div>
                                      </li>
                                      <li class="cards_item">
                                        <div class="card">
                                          <div class="card_image"><img src="./assets/img/p7.jpg"></div>
                                          <div class="card_content">
                                            <h2 class="card_title">Charlie</h2>
                                            <p class="card_text"> Breed:Bengal</p>
                                            <button class="btn card_btn">Read More</button>
                                          </div>
                                        </div>
                                      </li>
                                      <li class="cards_item">
                                        <div class="card">
                                          <div class="card_image"><img src="./assets/img/p9.jpg"></div>
                                          <div class="card_content">
                                            <h2 class="card_title">Bella</h2>
                                            <p class="card_text">Breed: Abyssinian</p>
                                            <button class="btn card_btn">Read More</button>
                                          </div>
                                        </div>
                                      </li>
                                      <li class="cards_item">
                                        <div class="card">
                                          <div class="card_image"><img src="./assets/img/p8.jpg"></div>
                                          <div class="card_content">
                                            <h2 class="card_title">Simba</h2>
                                            <p class="card_text">Breed:British Shorthair</p>
                                            <button class="btn card_btn">Read More</button>
                                          </div>
                                        </div>
                                      </li>
                                    
                                  </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="account-connections">
                          <div class="main">
                            <h1>My Favourite Blogs</h1>
                            <ul class="cards">
                              <% for(let lA of likedArticles){%>
                           
                                  <div><h3><%= lA %>  </h3></div>
                                  <!-- <div><h1>Dogs:</h1></div> -->
                                  <li class="cards_item">
                                    <div class="card">
                                      <div class="card_image"><img src="./assets/img/p6.jpg"></div>
                                      <div class="card_content">
                                        <h2 class="card_title"><%= lA.title %></h2>
                                        <p class="card_text"><p> By <%= lA.author.username %></p>
                                        <button class="btn card_btn">Read More</button>
                                      </div>
                                    </div>
                                  </li>
                                 <% } %>
                              <!-- <li class="cards_item">
                                <div class="card">
                                  <div class="card_image"><img src="./assets/img/p4.jpg"></div>
                                  <div class="card_content">
                                    <h2 class="card_title">Managing Pets with Kids <br></h2>
                                    <p class="card_text"><p> By Divya Sharma</p>
                                    <button class="btn card_btn">Read More</button>
                                  </div>
                                </div>
                              </li>
                              <li class="cards_item">
                                <div class="card">
                                  <div class="card_image"><img src="assets/img/p5.jpg"></div>
                                  <div class="card_content">
                                    <h2 class="card_title">Card Grid Layout</h2>
                                    <p class="card_text"><p>By Neha </p>
                                    <button class="btn card_btn">Read More</button>
                                  </div>
                                </div>
                              </li>
                              <li class="cards_item">
                                <div class="card">
                                  <div class="card_image"><img src="./assets/img/p1.jpg"></div>
                                  <div class="card_content">
                                    <h2 class="card_title">Tutorial for first time Adopters</h2>
                                    <p class="card_text"><p> By Amogh Deshpande</p>
                                    <button class="btn card_btn">Read More</button>
                                  </div>
                                </div>
                              </li>
                              <li class="cards_item">
                                <div class="card">
                                  <div class="card_image"><img src="./assets/img/p2.jpg"></div>
                                  <div class="card_content">
                                    <h2 class="card_title">Work and Pets</h2>
                                    <p class="card_text"><p> By Atharva Patel</p>
                                    <button class="btn card_btn">Read More</button>
                                  </div>
                                </div>
                              </li>
                              <li class="cards_item">
                                <div class="card">
                                  <div class="card_image"><img src="./assets/img/p3.jpg"></div>
                                  <div class="card_content">
                                    <h2 class="card_title">The ultimate Guide to Adoption</h2>
                                    <p class="card_text"><p>By Suresh</p>
                                    <button class="btn card_btn">Read More</button>
                                  </div>
                                </div>
                              </li> -->
                            </ul>
                          </div>
                        </div> 

                        <!-- yeh niche ka kuch kaam ka nai aapne liye, uda do  -->

                        <h2><%= myDogs %></h2>
                        <h2>-----------------------------</h2>
                        <h2><%= myCats %></h2>
                        <h2><%= myBirds %></h2>
                        <h2><%= myOthers %></h2>
                        <h2><%= mySafs %></h2>




                 
                    </div>
                </div>
            </div>
        </div>










        <!-- yeh rehne deeeeeeeeee!!!!!!!!!!!!!!!! last last wala -->







        <div class="text-right mt-3">
            <button type="button" class="btn btn-primary">Save changes</button>&nbsp;
            <button type="button" class="btn btn-default">Cancel</button>
        </div>
    </div>
    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript">

    </script>
</body>



        <!-- ACCESSING THIS PAGE WHEN LOGGED OUT RESULTED IN AN ERROR DISPLAYING ON OUR SITE WHICH IS A BAD THING  -->
        <!-- <div><h1>Username: <= currUser.username %></h1></div>
        <div><h1>Email: <= currUser.email %></h1></div>
        <div><h1>Phone: <= currUser.phone %></h1></div>
        <div><h1>Favourites: <= currUser.favourites %></h1></div>
        <div><p>User: <= currUser %></p></div>

        < for(let md of myDogs){%>
            <div><h1>Dogs: <= md.name %> | <= md.image %> | <= md.description %></h1></div>
            <div><h1>Dogs: <= md %></h1></div>
        < } %>
        <div><p>Dogs: <= myDogs %></p></div> -->
<!-- do this for all animals -->
        <!-- % } %> -->

