<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="nav">
        <div id="nav-part1">
            <!-- <p>logo</p> -->
            <a href = "/adopet" class = "navbar-brand">Adopet</a>
        </div>
        <div id="nav-part2">
            <div id="links">
                <a href = "/adopet/donate">Donate</a>
                <a href = "/adopet/adopt">Adopt</a>
                <a href = "">Get to vet</a>
                <a href = "/adopet/articles">Blog</a>
                <a href = "/adopet/events">events</a>
                <% if(!currentUser) { %>
                <a href = "/adopet/signup">Sign up</a>
                <a href = "/adopet/login">Log in</a>
                <% }else{ %>
                <a href = "/adopet/logout">Log out</a>
                <% } %>
            </div>
        </div>
    </div>
    <%- include('partials/flash') %>

    <!-- <div><p>Username </p></div>
    <div><p></p></div>
    <div><p>email</p></div>
    <div><p></p></div>
    <div><p>phone</p></div>
    <div><p></p></div> -->
    <!-- % for(user of users){ %> -->



        <!-- ACCESSING THIS PAGE WHEN LOGGED OUT RESULTED IN AN ERROR DISPLAYING ON OUR SITE WHICH IS A BAD THING  -->
        <div><h1>Username: <%= currUser.username %></h1></div>
        <div><h1>Email: <%= currUser.email %></h1></div>
        <div><h1>Phone: <%= currUser.phone %></h1></div>
        <div><h1>Favourites: <%= currUser.favourites %></h1></div>
        <div><p>User: <%= currUser %></p></div>

        <% for(let md of myDogs){%>
            <div><h1>Dogs: <%= md.name %> | <%= md.image %> | <%= md.description %></h1></div>
            <div><h1>Dogs: <%= md %></h1></div>
        <% } %>
        <div><p>Dogs: <%= myDogs %></p></div>
<!-- do this for all animals -->
        <!-- % } %> -->

    <div> <%- include('./partials/footer') %>
</body>
</html>