<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('partials/navbar') %>

    <!-- <div><p>Username </p></div>
    <div><p></p></div>
    <div><p>email</p></div>
    <div><p></p></div>
    <div><p>phone</p></div>
    <div><p></p></div> -->
    <!-- % for(user of users){ %> -->



        <!-- ACCESSING THIS PAGE WHEN LOGGED OUT RESULTED IN AN ERROR DISPLAYING ON OUR SITE WHICH IS A BAD THING  -->
        <div><h1>Username: <%= currUser.username %></h1></div>
        <div><h1>Email: <%= currUser.email %></h1></div>
        <div><h1>Phone: <%= currUser.phone %></h1></div>
        <div><h1>Favourites: <%= currUser.favourites %></h1></div>
        <div><p>User: <%= currUser %></p></div>

        <% for(let md of myDogs){%>
            <div><h1>Dogs: <%= md.name %> | <%= md.image %> | <%= md.description %></h1></div>
            <div><h1>Dogs: <%= md %></h1></div>
        <% } %>
        <div><p>Dogs: <%= myDogs %></p></div>
<!-- do this for all animals -->
        <!-- % } %> -->

    <div> <%- include('./partials/footer') %>
</body>
</html>