<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Adopet Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font awesome icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="../../stylesheets/blog.css">
  </head>
  <body>
    
      <main>
          
          <!-- header -->
          <header>
            <div id="nav">
                <div id="nav-part1">
                  <a href = "/adopet" class = "navbar-brand"><img src="../../images/logo_fill.png" alt="logo" width="220" height="150"></a>
                    <!-- <p>logo</p> -->
                </div>
                <div id="nav-part2">
                    <div id="links">
                        <a href = "/adopet/donate">Donate</a>
                        <a href = "/adopet/adopt">Adopt</a>
                        <a href = "/adopet/vet">Get to vet</a>
                        <a href = "/adopet/articles">Blog</a>
                        <a href = "/adopet/events">events</a>
                        <% if(!currentUser) { %>
                        <a href = "/adopet/auth">Sign up / Login</a>
                        <% }else{ %>
                        <a href = "/adopet/logout">Log out</a>
                        <a href="/adopet/user/profile"><img src="../../images/user.jpg" alt="user" style="height: 50px; width: 50px; border-radius:50%"></a>

                        <% } %>
                    </div>
                </div>
            </div>
      <div class = "banner">
        <div class = "container">
          <h1 class = "banner-title">
            <span>Blog</span>
          </h1>
          <p>everything that you want to know about your pets</p>
          <!-- <img src = "https://staging.petmag.com/wp-content/uploads/2020/08/category-header-cats.jpg" -->
        </div>
      </div>
    </header>
    <!-- end of header -->
    
    <div class="scroll-tracker"></div>
    <section class = "design" id = "design">
      <div class = "container">
        <div class = "main-title">
          <h2>Read about Dogs & cats</h2>
          <p>recent arts & designs on the blog</p>
        </div>


     
        <div class = "design-content">
            <% for(let art of aart){%>  
          <!-- item -->
          <div class = "design-item">
            <div class = "design-img">
              <img src = "https://plus.unsplash.com/premium_photo-1663047910718-c8758a6785e9?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt = "">
              <!-- <span><i class = "far fa-heart"></i> 22</span> -->
              <span>Adopet</span>
            </div>
            <div class = "design-title">
                <div class="card-content">
                  <h2 class="card-title"><a href="/adopet/articles/<%= art._id%>"><%= art.title%></a></h2>
                  <p class="card-description"><%= art.content%></p>
                  
                </div>
              </div>
          </div>
          <% } %>


          <!-- end of item -->
          <!-- item -->
         
          <!-- end of item -->
        </div>
      </div>
    </section>
    <!-- end of design -->


    <!-- blog -->
      <div class = "container">
          <!-- <label for="create-blog" class="upload-btn">Create</label> -->
          <!-- <button id="create-blog" class="upload-btn" width="50px" >Create</button>
            a -->
            
        </div>
        <div class = "blog-content">
            <!-- item -->
            <div class = "blog-item">
                <div class = "blog-img">
                    <img src = "https://images.pexels.com/photos/3171712/pexels-photo-3171712.jpeg?auto=compress&cs=tinysrgb&w=600" alt = "">
                    <span>Adopet</span>
                </div>
                <div class = "blog-text">
                    <h2>Lorem ipsum, dolor sit amet consectetur adipisicing</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis libero quas ipsum laudantium nihil! Quaerat.</p>
                    <a href = "/adopet/articles">Read More</a>
                </div>
            </div>
            <!-- end of item -->
            <!-- item -->
            
            
            <div class = "title">
                <h2 >Create your Own Blog Now!</h2>
                <a href="/adopet/articles/new" class="upload-btn">Create</a>
            </div>
        </div>
        </div>
      </div>
   
    

  </main>

  <script src="../../../js/searchBlog.js"></script>


  <%- include('../partials/footer') %>
    
  <%- include('../partials/scroll') %>

    
  </body>
</html>