<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="nav">
        <div id="nav-part1">
            <!-- <p>logo</p> -->
            <a href = "/adopet" class = "navbar-brand">Adopet</a>
        </div>
        <div id="nav-part2">
            <div id="links">
                <a href = "/adopet/donate">Donate</a>
                <a href = "/adopet/adopt">Adopt</a>
                <a href = "">Get to vet</a>
                <a href = "/adopet/articles">Blog</a>
                <a href = "/adopet/events">events</a>
                <% if(!currentUser) { %>
                <a href = "/adopet/signup">Sign up</a>
                <a href = "/adopet/login">Log in</a>
                <% }else{ %>
                <a href = "/adopet/logout">Log out</a>
                <% } %>
            </div>
        </div>
    </div>
     <%- include('../partials/flash') %>

    <h1><%=article.title%></h1>
    <h2><%=article.content%></h2>
    <h3>Wriiten by <%=article.author.username%> </h3>  

    <!-- things will break if we only check for whether cuurentUser is same as the one logged in as guest can be able to access these features -->
    <!-- so we added one more condition, to check first whether currentUser even exists or not -->
    <% if(currentUser && article.author.equals(currentUser)) { %>
   <p><a href="/adopet/articles/<%= article._id%>/edit">Edit</a></p> 
   <p><form action="/adopet/articles/<%= article._id%>?_method=DELETE" method="POST"><button>Delete</button></form></p> 
    <% } %>
    <a href="/adopet/articles">Go back to all blogs</a> 


    <div class="options">
        <form action="/adopet/articles/<%= article._id  %>" method="POST" class="enquiry-btn">
            <div class="form-example">
                <input type="submit" value="Add to favourites"/>
            </div>
        </form>
    </div>

        <h2>Leave a review</h2>
        <form action="" class="mb-3">
            <div class="mb-3">
                <label class="form-label" for="rating" >Rating</label>
                <input class="form-range" type="range" min="1" max="5" id="rating" name="review[rating]">
            </div>
            <div class="mb-3">
                <label for="form-label" for="body">Review</label>
                <textarea name="review[body]" class="form-control" id="body" cols="30" rows="3"></textarea>
            </div>
            <button class="btn btn-success">Submit</button>
        </form>

        <div> <%- include('../partials/footer') %>
    </div>

</body>
</html>