<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <%- include('../../partials/navbar') %>

    <h1><%= smallandfurries.name  %></h1>
    <h2>donated by <%= smallandfurries.owner.username %></h2>   
   <h2><%= smallandfurries.owner %></h2>
   <h4><%= smallandfurries  %></h4> 
<h2><%=  %></h2>
</body>
</html>